<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="PSR-0 Resource Locator Test Suite">
            <directory>./tests/Dflydev/Psr0ResourceLocator/Composer</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/Dflydev/Psr0ResourceLocator/Composer/</directory>
        </whitelist>
    </filter>
</phpunit>
